.beer-list{
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-evenly;
}
.center{
  display: flex;
  justify-content: center;
}
input:focus{
  outline: none;
}
.m-10{
  margin: 10px;
}
.beer-list-container{
  width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  h1{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
}